h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
    text-transform: uppercase;
    border-radius: 0.25em;
}
h2 {
    font-size: 1.5em;
}
section {
    background-color: rgba(248, 248, 239, 0.743);
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 1em;
}

body {
    margin: 20px auto;
    width: 55em!important;
}

