<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="01_HelloWorld.html">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        HTML
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="02_Balises.html">
                                Balises
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="03_ContactForm.html">
                                Contact Form
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./04_TableauBalises.html">
                                Tableau Balises
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./05_Videos.html">
                                Videos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./06_Audios.html">
                                Audio
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        CSS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="07_Boutons.html">
                                Boutons
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="07b_Listes.html">
                                Listes
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="08_Display.html">
                                Display
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="09_Positions.html">
                                Positions
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="10_Parallax.html">
                                Parallax
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="09b_Float.html">
                                Float
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="11_Parallax3D.html">
                                Parallax 3D
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="11_Parallax3D_after.html">
                                Parallax 3D after
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="12_MediaQueries.html">
                                Media Queries
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="13_BootstrapForm.html">
                                Bootstrap Form
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="14_BootstrapLandingPage.html">
                                Bootstrap Landing Page
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="15_BootstrapBlog.html">
                                Bootstrap Blog
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="16_GoogleFonts.html">
                                Google Fonts
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        JS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="19_Javascript.html">
                                Overview
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="20_Js_variables.html">
                                Variables
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="21_Js_operateurs.html">
                                Opérateurs
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="22_Js_conditions.html">
                                Conditions
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="23_Js_boucles.html">
                                Boucles
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="24_Js_fonctions.html">
                                Fonctions
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="25_Js_DOM.html">
                                DOM
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="26_Js_Formulaires.html">
                                Formulaires
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="26_Js_Formulaires_api.html">
                                Formulaires api
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="27_Js_windows.html">
                                Windows
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="28_Js_modals.html">
                                Modals
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="29_Js_popups.html">
                                Popups
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="30_Js_events.html">
                                Events
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="31_Js_Gallery.html">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="32_Js_timings.html">
                                Timings
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="17_Microdata.html" role="button">SEO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="18_Accessibilite.html" role="button">Accessibilité</a>
                </li>
            </ul>
        </div>
    </div>
</nav>